.city-names {
  display: flex;
  justify-content: space-evenly;
  font-family: "Gotham", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 18px;
  position: relative;
}

.header-name {
  display: flex;
  justify-content: center;
  background-color: #cecece;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: "Gotham", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}

.stockholm {
  background: #e2e2e2;
  width: 50%;
  padding: 10px;
}

.göteborg {
  background: #ececec;
  width: 50%;
  padding: 10px;
}

.class {
  display: flex;
  gap: 20px;
}

ul {
  width: 100%;
  padding: 0;
  display: flex;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  gap: 5px;
}

img {
  position: absolute;
  top: 16px;
}

h2,
p {
  padding: 0;
  margin: 0;
}

p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: start;
  padding-left: 25px;
}
